<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:measureArea">Area</button>
<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:measureDistance">Distance</button>
<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:measureLocation">Location</button>
<select name="measureUnits" id="measureUnits" data-dojo-type="dijit/form/Select">
	<option value="miles" selected="selected">Miles</option>
	<option value="kilo">Kilometers</option>
</select>
<div id="measureResults"></div>