<div class="gis_ToolbarDijit">
	<div class="formContainer">
		<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:startMeasure">Measure</button>
		<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:startIdentify">Identify</button>
		<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:startFind">Find</button>
		<button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:startPrint">Print</button>
	</div>
	<div id="toolbarContents">
	
	</div>
</div>