<div class="gis_ToolbarDijit">
	<div class="formContainer">
		<button type="button" title="Measure" data-dojo-attach-event="onClick:startMeasure" class="icon-cogs">Measure</button>
		<button type="button" title="Identify" data-dojo-attach-event="onClick:startIdentify" class="icon-filter">Identify</button>
		<button type="button" title="Find" data-dojo-attach-event="onClick:startFind" class="icon-hand-up">Find</button>
		<button type="button" title="Print" data-dojo-attach-event="onClick:startPrint" class="icon-print">Print</button>
	</div>
	<div id="toolbarContents">
	
	</div>
</div>