<div class="gis_CriteriaDijit">
	<h2><center>Habitat Criteria</center></h2>
	<p>Select one or more criteria and then hit "Investigate" to highlight a section of the map that satisfies the criteria. Currently, only Lake Erie is supported.</p>
	<p>Note: Depending on your selection(s), the data may take a while to process.</p>
	<div id="criteriaOptions"></div>
	<button type="button" id="investigate" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:runInvestigation">Investigate</button>
	<button type="button" id="clearCrit" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:clearCriteria">Clear</button>
	<div id="legend">
		<h4><center>Criteria Legend</center></h4>
		<div id="criteriaLegend"></div>
	</div>
</div>