<div style="float:right;">
	<input type="text" id="queryTextEx">
	<button type="button" id="queryBtnEx">Query</button>
	Results as:
	<input type="radio" name="type" value="table">Table
	<input type="radio" name="type" value="figure">Figure
	<br/>
	Search the:
	<input type="checkbox" name="area" value="all">Whole Dataset
	<input type="checkbox" name="area" value="selected">Selected Area
</div>
<div id="markup"></div>
<div id="advOutput">
	<button type="button" id="advResultsBtn">Send to Results</button>
	<div id="advGrid"></div>
</div>