<div id="selector"></div>
<input type="text" id="queryTextNv" data-dojo-type="dijit/form/TextBox">
<button type="button" data-dojo-type="dijit/form/Button" id="queryBtnNv">Search</button>
Display Results as:
<input type="radio" name="type" value="table">Table
<input type="radio" name="type" value="figure">Figure
<div id="description">This is a sample description.</div>
<button type="button" data-dojo-type="dijit/form/Button" id="basicResultsBtn">Send to Results</button>
<div id="basicGrid"></div>