<div>
	<h1>Welcome to the GLAHF Decision Support Tool!</h1>
</div>
<div>
	<img src="http://upload.wikimedia.org/wikipedia/commons/c/c3/Great_Lakes_from_space.jpg" align="right" width="900px">
	<p>Decision Support Tools (DSTs) are applications designed to provide users with the data they need to make informed decisions about a specific subject. The focus of this
	DST is present information from GLAHF, specifically focused on restoration and management.</p>
</div>
<div>
	<div>
		<h2>Explore the viewer</h2>
		<a href="http://www.google.com">Get started</a><br/>
		Jump right in to interacting with the data.
	</div>
	<br/>
	<div>
		<h2>User Defined Search</h2>
		<a href="http://www.google.com">Define search criteria</a><br/>
		Specify criteria and the DST will present you with a list of areas that satisfy your constraints.
		<br/>
	</div>
	<br/>
	<div>
		<h2>Suitability Mapping</h2>
		<a href="http://www.google.com">trout</a><br/>
		<a href="http://www.google.com">bass</a><br/>
		<a href="http://www.google.com">etc</a><br/>
		Suitability Mapping allows you to view areas that are more or less suitable for specific species of wildlife, as well as interact with the data to make predictions.
	</div>
</div>