.title {
	font-size: 50px;
	padding-bottom: 25px;
	background-color:white;
}

body {
	background-image: url("../images/lake-michigan.jpg");
	margin: 0px;
}
.flexOuter {
	padding: 0px;
	margin: 0px;
	list-style: none;
	
	display: flex;
	
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}