<div class="gis_PrintDijit">
	<label>Select slot:</label>
	<select data-dojo-type="dijit/form/Select" name="slotSelect" data-dojo-attach-event="onChange:_onSlotChange">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select><br>
	<div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:gatherData" class="saveButton">Save</div>
	<div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:loadData" class="saveButton">Load</div>
</div>