.criteria {
	border: 1px solid black;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
#criteriaOptions {
}
.critInput{
}
.critLabel{
	float:left;
}
#investigate{
	float: right;
}
#clearCrit{
	float: right;
}
.critRadio{
	float: left;
}
.gis_CriteriaDijit .dijitButtonNode{
	display: inline-block !important;
}

#legend {
	position: absolute;
	top: 0px;
	left: 320px;
	background: white;
	width: 250px;
	display: none;
	max-height: 200px;
	overflow-y: scroll;
	border-radius: 0 0 6px;
}

.inactive{
	display: none;
}

.active{
	padding-left: 2.3em;
}